## CLEANING THE DATA FOR NETFLIX DATASET

Import libraries

In [36]:
import pandas as pd
import numpy as np

Load data

Tip: Change encoding from 'latin-1' to 'utf-8' to get rid of special characters that may appear in the dataset.

In [37]:
#df = pd.read_csv("DataSchool_Netflix copy.csv", encoding = 'latin-1')
df = pd.read_csv("../date raw/DataSchool_Netflix.csv", encoding = 'utf-8')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,As her father nears the end of his life; filmm...
1,2,TV Show,Blood & Water,NaN,Ama Qamata; Khosi Ngema; Gail Mabalane; Thaban...,South Africa,24-Sep-21,2021,TV-MA,2 Seasons,International TV Shows; TV Dramas; TV Mysteries,After crossing paths at a party; a Cape Town t...
2,3,TV Show,Ganglands,Julien Leclercq,Sami Bouajila; Tracy Gotoas; Samuel Jouy; Nabi...,NaN,24-Sep-21,2021,TV-MA,1 Season,Crime TV Shows; International TV Shows; TV Act...,To protect his family from a powerful drug lor...
3,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,Docuseries; Reality TV,Feuds; flirtations and toilet talk go down amo...
4,5,TV Show,Kota Factory,NaN,Mayur More; Jitendra Kumar; Ranjan Raj; Alam K...,India,24-Sep-21,2021,TV-MA,2 Seasons,International TV Shows; Romantic TV Shows; TV ...,In a city of coaching centers known to train I...

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int64
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8806 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(2), object(10)
memory usage: 825.8+ KB

Step 1: Find the percentage of missing data in order to make decisions in order to drop or input the values

Percentage of missing data for each feature
- For 'director' -> 29.91%
- For 'cast' -> 9.37%
- For 'country' -> 9.44%
- For 'date_added' -> 0.11%, we have only 10 missing values
- For 'rating' -> 0.01%, we have only 1 missing values

In [39]:
df["director"].isnull().sum()/len(df["director"])*100

29.908027705234474

In [40]:
df["cast"].isnull().sum()/len(df["cast"])*100

9.367548540933349

In [41]:
df["country"].isnull().sum()/len(df["country"])*100

9.435676166685592

In [42]:
df["date_added"].isnull().sum()/len(df["date_added"])*100

0.11354604292040424

In [43]:
df["rating"].isnull().sum()/len(df["rating"])*100

0.011354604292040422

Step 2: Remove duplicates based on all columns

In [44]:
df.drop_duplicates(inplace=True)
df.drop_duplicates(subset='title', inplace=True)

In [45]:
df.dropna(subset = ['date_added'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8794 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8794 non-null   int64
 1   type          8794 non-null   object
 2   title         8794 non-null   object
 3   director      6171 non-null   object
 4   cast          7969 non-null   object
 5   country       7965 non-null   object
 6   date_added    8794 non-null   object
 7   release_year  8794 non-null   int64
 8   rating        8793 non-null   object
 9   duration      8794 non-null   object
 10  listed_in     8794 non-null   object
 11  description   8794 non-null   object
dtypes: int64(2), object(10)
memory usage: 893.1+ KB

In [46]:
df.loc[df['title']=='My Honor Was Loyalty']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7537,7538,Movie,My Honor Was Loyalty,Alessandro Pepe,Leone Frisa; Paolo Vaccarino; Francesco Miglio...,Italy,1-Mar-17,2015,NaN,115 min,Dramas,Amid the chaos and horror of World War II; a c...

In [47]:
df.loc[7537, 'rating']='PG-13'

Step 3: Format data as YYYY-MM-DD (e.g. 2021-09-25)

In [48]:
df['date_added'].head(2)

0    25-Sep-21
1    24-Sep-21
Name: date_added, dtype: object

In [49]:
df["date_added"] = pd.to_datetime(df["date_added"]).dt.date
df["date_added"].head()

0    2021-09-25
1    2021-09-24
2    2021-09-24
3    2021-09-24
4    2021-09-24
Name: date_added, dtype: object

Step 4: Fix the problems with rating column

In [50]:
df['rating'].head(3)

0    PG-13
1    TV-MA
2    TV-MA
Name: rating, dtype: object

In [51]:
# Replace "-", "", " ", np.NaN with Not Rated
df['rating'].replace('-', 'Not Rated', inplace=True)
df['rating'].replace('', 'Not Rated', inplace=True)
df['rating'].replace(' ', 'Not Rated', inplace=True)
df['rating'].replace(np.NaN, 'Not Rated', inplace=True)

In [52]:
# Replace "-", "", " ", np.NaN with Not Rated
df['duration'].replace('-', 'Not Rated', inplace=True)
df['duration'].mask(df['duration'].eq('Not Rated'), df['rating'], inplace=True)

In [53]:
df['rating'] = np.where(df['rating'] =='74 min', 'Not Rated', df['rating'])
df['rating'] = np.where(df['rating'] =='84 min', 'Not Rated', df['rating'])
df['rating'] = np.where(df['rating'] =='66 min', 'Not Rated', df['rating'])

Step 5: Split duration column into duration as a number and unit_of_measure (min for movies and season for tv shows)

In [54]:
# split column and add new columns to df
df[['duration_show', 'unit_measure']] = df['duration'].str.split(' ', expand=True)
# display the dataframe
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_show,unit_measure
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,As her father nears the end of his life; filmm...,90,min
1,2,TV Show,Blood & Water,NaN,Ama Qamata; Khosi Ngema; Gail Mabalane; Thaban...,South Africa,2021-09-24,2021,TV-MA,2 Seasons,International TV Shows; TV Dramas; TV Mysteries,After crossing paths at a party; a Cape Town t...,2,Seasons

In [55]:
df.drop(['duration'], axis=1, inplace=True)

Step 6: replace Seasons with Season

In [56]:
df['unit_measure'].replace('Seasons', 'Season', inplace=True)
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_show,unit_measure
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,Documentaries,As her father nears the end of his life; filmm...,90,min
1,2,TV Show,Blood & Water,NaN,Ama Qamata; Khosi Ngema; Gail Mabalane; Thaban...,South Africa,2021-09-24,2021,TV-MA,International TV Shows; TV Dramas; TV Mysteries,After crossing paths at a party; a Cape Town t...,2,Season
2,3,TV Show,Ganglands,Julien Leclercq,Sami Bouajila; Tracy Gotoas; Samuel Jouy; Nabi...,NaN,2021-09-24,2021,TV-MA,Crime TV Shows; International TV Shows; TV Act...,To protect his family from a powerful drug lor...,1,Season

Step 7: for observations 194 and 366 remove the ";" placed before country

In [57]:
df['country'].replace('; South Korea', 'South Korea', inplace=True)
df['country'].replace('; France; Algeria', 'France; Algeria', inplace=True)

Step 8: format duration_show as a whole number (int)

In [58]:
df['duration_show'] = df['duration_show'].astype('int')
df['duration_show'].groupby(df['type']).describe()

          count       mean        std  min   25%   50%    75%    max
type
Movie    6129.0  99.553761  28.286702  3.0  87.0  98.0  114.0  312.0
TV Show  2665.0   1.751595   1.550399  1.0   1.0   1.0    2.0   17.0

Step 9: Deal with outliers

In [59]:
df.loc[(df['duration_show'] >230) & (df['type']=='Movie')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_show,unit_measure
717,718,Movie,Headspace: Unwind Your Mind,NaN,Andy Puddicombe; Evelyn Lewis Prieto; Ginger D...,NaN,2021-06-15,2021,TV-G,Documentaries,Do you want to relax; meditate or sleep deeply...,273,min
2484,2485,Movie,Lock Your Girls In,Fouad El-Mohandes,Fouad El-Mohandes; Sanaa Younes; Sherihan; Ahm...,NaN,2020-05-21,1982,TV-PG,Comedies; International Movies; Romantic Movies,A widower believes he must marry off his three...,233,min
2487,2488,Movie,No Longer kids,Samir Al Asfory,Said Saleh; Hassan Moustafa; Ahmed Zaki; Youne...,Egypt,2020-05-21,1979,TV-14,Comedies; Dramas; International Movies,Hoping to prevent their father from skipping t...,237,min
2491,2492,Movie,The School of Mischief,Houssam El-Din Mustafa,Suhair El-Babili; Adel Emam; Saeed Saleh; Youn...,Egypt,2020-05-21,1973,TV-14,Comedies; Dramas; International Movies,A high school teacher volunteers to transform ...,253,min
4253,4254,Movie,Black Mirror: Bandersnatch,NaN,Fionn Whitehead; Will Poulter; Craig Parkinson...,United States,2018-12-28,2018,TV-MA,Dramas; International Movies; Sci-Fi & Fantasy,In 1984; a young programmer begins to question...,312,min

In [60]:
df.drop(df[df.duration_show > 230].index, inplace=True)
df.shape

(8789, 13)

Step 10: Make sure that title is a string (some movies have dates as title) and release_year is a integer

In [61]:
df['title'].describe()

count                     8789
unique                    8789
top       Dick Johnson Is Dead
freq                         1
Name: title, dtype: object

In [62]:
df['title'].astype('str')

0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8802                   Zodiac
8803              Zombie Dumb
8804               Zombieland
8805                     Zoom
8806                   Zubaan
Name: title, Length: 8789, dtype: object

In [63]:
df['release_year'].astype('int')

0       2020
1       2021
2       2021
3       2021
4       2021
        ...
8802    2007
8803    2018
8804    2009
8805    2006
8806    2015
Name: release_year, Length: 8789, dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8789 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8789 non-null   int64
 1   type           8789 non-null   object
 2   title          8789 non-null   object
 3   director       6168 non-null   object
 4   cast           7964 non-null   object
 5   country        7962 non-null   object
 6   date_added     8789 non-null   object
 7   release_year   8789 non-null   int64
 8   rating         8789 non-null   object
 9   listed_in      8789 non-null   object
 10  description    8789 non-null   object
 11  duration_show  8789 non-null   int64
 12  unit_measure   8789 non-null   object
dtypes: int64(3), object(10)
memory usage: 961.3+ KB

Step 11: fill empty cells for director, cast and country with NaN

In [65]:
df['director'].fillna(np.NaN, inplace=True)
df['cast'].fillna(np.NaN, inplace=True)
df['country'].fillna(np.NaN, inplace=True)

Step 12: Save all changes into a new csv labeled "DataSchool_Netflix_Clean.csv"

In [66]:
df.to_csv('DataSchool_Netflix_Clean.csv')

In [67]:
df.to_excel('DataSchool_Netflix_Clean.xlsx', encoding='utf-8')